.container-main-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  .container-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
    padding: 2rem 1rem 2rem 1rem;
    background-color: #d1d1d1;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;

    &:hover {
      transform: scale(1.1);
      transition: all 0.3s ease;
    }

    .title-skills {
      font-size: 3rem;
      font-family: "Gochi Hand", cursive;
      color: #c5c5c5;

      .case-upper-skills {
        display: inline;
        color: #4dff9e;
        font-size: 4.5rem;
        animation-name: caseMoveSkills;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }

      @keyframes caseMoveSkills {
        50% {
          // :hover {
          //   transform: skew(2deg, 2deg);
          //   transition: all 0.3s ease;
          // }
          color: rgb(210, 70, 253);
        }
      }
    }

    .container-text-skills {
      height: 100%;
      width: 100%;
    }
  }
}

@media (max-width: 960px) {
  .container-main-skills {
    .container-skills {
      &:hover {
        transform: none;
        transition: none;
      }
    }
  }
}

@media (max-width: 830px) {
  .container-main-skills {
    .container-skills {
      // width: 80%;
      .title-skills {
        font-size: 1.8rem;
        .case-upper-skills {
          font-size: 3rem;
        }
      }

      .container-text-skills {
        padding: 0 1rem 0 1rem;
        p {
          font-size: 0.7rem;
          font-weight: normal;
          line-height: 1.5;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .container-main-skills {
    padding-left: 4.5rem;
  }
}

@media (max-width: 501px) {
  .container-main-skills {
    padding: 0;
    margin-left: 0;
    .container-skills {
      width: 90%;
      .container-text-skills {
        padding: 0;
      }
    }
  }
}

@media (max-width: 400px) {
  .container-main-skills {
    .container-skills {
      height: 70%;
      margin-top: 1rem;
      .title-skills {
        padding-top: 1.2rem;
        font-size: 1rem;
        .case-upper-skills {
          font-size: 2rem;
        }
      }
      .container-text-skills {
        p {
          font-size: 0.55rem;
        }
      }
    }
  }
}

@media (max-height: 750px) {
  .container-main-skills {
    .container-skills {
      width: 70%;
      margin-left: 2rem;
    }
  }
}

@media (max-height: 800px) {
  .container-main-skills {
    // padding: 0;
    .container-skills {
      padding: 0.5rem;
      .container-text-skills {
        padding: 0;
      }
    }
  }
}
