.contain-main-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  padding-top: 8rem;
  padding-left: 9rem;
  z-index: 1;

  .img-caricature {
    width: 28rem;
    height: 27rem;
    margin-left: auto;
    margin-right: 2rem;
  }

  .contain-text-home {
    .title {
      color: rgb(197, 197, 197);
      font-size: 8vh;
      font-family: "Gochi Hand", cursive;
      // font-family: "Gloria Hallelujah", cursive;
      // animation-name: title;
      // animation-duration: 2s;
      // animation-timing-function: ease-in-out;
      // animation-iteration-count: 1;
      // letter-spacing: 2px;
      // position: relative;

      // @keyframes title {
      //   0% {
      //     right: 100%;
      //   }
      //   100% {
      //     right: 0;
      //   }
      // }

      .caseUpper {
        display: inline;
        color: #4dff9e;
        font-size: 13vh;
        animation-name: caseMove;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        letter-spacing: 1px;
      }
      @keyframes caseMove {
        50% {
          color: rgb(210, 70, 253);
        }
      }
    }

    .title-name {
      color: rgb(197, 197, 197);
      font-size: 7vh;
      font-family: "Gochi Hand", cursive;
      margin-top: 2rem;
      // animation-name: titlename;
      // animation-duration: 3s;
      // animation-timing-function: ease-in-out;
      // animation-iteration-count: 1;
      // letter-spacing: 2px;
      // position: relative;

      // @keyframes titlename {
      //   0% {
      //     right: 100%;
      //   }
      //   100% {
      //     right: 0;
      //   }
      // }
    }

    .subtitle {
      color: rgb(197, 197, 197);
      font-size: 4.5vh;
      font-family: "Gochi Hand", cursive;
      margin-top: 2rem;
      // animation-name: subtitle;
      // animation-duration: 4s;
      // animation-timing-function: ease-in-out;
      // animation-iteration-count: 1;
      // letter-spacing: 2px;
      // position: relative;

      // @keyframes subtitle {
      //   0% {
      //     right: 100%;
      //   }
      //   100% {
      //     right: 0;
      //   }
      // }
    }
  }

  .arrow-scroll {
    position: absolute;
    bottom: 0;
    left: auto;
    color: #4dff9e;
    font-size: 1.5rem;
    animation-name: arrowMove;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  @keyframes arrowMove {
    from {
      bottom: 4rem;
    }
    100% {
      color: rgb(210, 70, 253);
    }
    to {
      bottom: 1rem;
    }
  }
}

@media (max-width: 1490px) {
  .contain-main-home {
    .img-caricature {
      width: 24rem;
      height: 22rem;
    }
  }
}

@media (max-width: 1305px) {
  .contain-main-home {
    display: flex;
    flex-direction: column;
    .img-caricature {
      width: 20rem;
      height: 20rem;
    }
  }
}

@media (max-width: 700px) {
  .contain-main-home {
    .img-caricature {
      width: 15rem;
      height: 15rem;
    }
  }
}

@media (max-width: 630px) {
  .contain-main-home {
    height: 100vh;
    // padding-top: 1rem;
    padding-top: 0;
    justify-content: space-around;

    .contain-text-home {
      .title {
        font-size: 6vh;

        .caseUpper {
          font-size: 10vh;
        }
      }

      .title-name {
        font-size: 6.5vh;
      }

      .subtitle {
        font-size: 5.6vh;
      }
    }
  }
}

@media (max-width: 501px) {
  .contain-main-home {
    padding-left: .1rem;
    .contain-text-home {
      padding-left: 2rem;
      margin-top: 1rem;
      .title {
        font-size: 2.5rem;

        .caseUpper {
          font-size: 4rem;
        }
      }

      .title-name {
        font-size: 2.5rem;
      }

      .subtitle {
        font-size: 2rem;
      }
    }
  }
}

@media (min-height: 800px) {
  .contain-main-home {
    .img-caricature {
      display: inline;
    }
  }
}
