.css-a6rva7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;

  .ant-steps-item.ant-steps-item-process.ant-steps-item-active {
    .ant-steps-item-container {
      .ant-steps-item-icon {
        background: grey;
        border-color: grey;
        .ant-steps-icon {
          color: black;
        }
      }

      .ant-steps-item-content {
        .ant-steps-item-title {
          color: white;
          font-weight: 600;
        }

        .ant-steps-item-title::after {
          background-color: grey;
        }
      }
    }
  }

  .ant-steps-item.ant-steps-item-wait {
    .ant-steps-item-container {
      .ant-steps-item-content {
        .ant-steps-item-title {
          color: grey;
        }

        .ant-steps-item-title::after {
          background-color: grey;
        }
      }
    }
  }

  .ant-steps-item.ant-steps-item-finish {
    .ant-steps-item-container {
      .ant-steps-item-icon {
        border-color: rgb(110, 255, 74);
        background-color: grey;
        .ant-steps-icon {
          .anticon.anticon-check.ant-steps-finish-icon {
            svg {
              color: rgb(110, 255, 74);
            }
          }
        }
      }

      .ant-steps-item-content {
        .ant-steps-item-title {
          color: rgb(110, 255, 74);
          font-weight: 500;
        }

        .ant-steps-item-title::after {
          background-color: rgb(110, 255, 74);
        }
      }
    }
  }

  .steps-content {
    margin-top: 8rem;

    label {
      letter-spacing: 1.5px;
      font-size: 1.2rem;
      font-weight: 600;
      color: #c5c5c5;
    }
    .ant-input {
      height: 3rem;
      background-color: #dfdfdf;
      letter-spacing: 1.5px;
      font-size: 1.2rem;
      font-weight: 600;
      &::placeholder {
        color: rgb(134, 134, 134);
      }
    }

    .container-input-email {
      display: block;
    }

    .container-input-name {
      display: block;
    }
  }
}
