// .ant-carousel .slick-prev,
// .ant-carousel .slick-prev:hover {
//   left: 10px;
//   z-index: 2;
//   color: white;
//   font-size: 30px;
//   height: auto;
//   width: auto;
//   background-color: rgb(146, 146, 146);
//   border-radius: 50%;
// }

// .ant-carousel .slick-next,
// .ant-carousel .slick-next:hover {
//   right: 10px;
//   z-index: 2;
//   color: white;
//   font-size: 30px;
//   height: auto;
//   width: auto;
//   background-color: rgb(146, 146, 146);
//   border-radius: 50%;
// }

.image-carrusel {
  height: 20rem;
  width: 100%;
}

.slick-slider.slick-initialized {
  height: 20rem;
  width: 90%;
}

@media (max-width: 960px) {
  .image-carrusel {
    height: 100%;
    width: 100%;
  }
  .slick-list {
    height: 19rem;
  }
  .slick-slider.slick-initialized {
    height: 19rem;
    width: 90%;
  }
}

@media (max-width: 680px) {
  .image-carrusel {
    height: 100%;
    width: 100%;
  }
  .slick-list {
    height: 90%;
  }
  .slick-slider.slick-initialized {
    height: 14rem;
    width: 90%;
  }
}

@media (max-width: 557px) {
  .slick-list {
    height: 80%;
  }
  .slick-slider.slick-initialized {
    height: 10rem;
    width: 90%;
  }
}
