.ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-light {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 4.5rem;
  padding: 1rem;
  font-size: large;
  background-color: rgb(20, 20, 20);
  color: #4dff9e;

  .ant-menu-overflow-item.ant-menu-item.ant-menu-item-selected {
    color: #ff69dd;
  }
  .ant-menu-item-selected::after {
    border-bottom: 1px solid #ff69dd;
  }

  :hover {
    color: #ff69dd;
  }
}
