.aboutme {
  height: 100vh;
  .container-aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
    padding: 2rem 1rem 2rem 1rem;
    background-color: #d1d1d1;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    z-index: 0;

    &:hover {
      transform: scale(1.1);
      transition: all 0.3s ease;
    }

    .title-aboutme {
      font-size: 3rem;
      font-family: "Gochi Hand", cursive;
      color: #c5c5c5;

      .caseUpper {
        display: inline;
        color: #4dff9e;
        font-size: 4.5rem;
        animation-name: caseMove;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }

      @keyframes caseMove {
        50% {
          color: rgb(210, 70, 253);
        }
      }
    }
    .second-container-aboutme {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 90%;
    }

    .container-text {
      width: 50%;
      padding-top: 3.5rem;
      p {
        font-size: 1.1rem;
      }
    }

    .container-carrusel {
      width: 35%;
      padding-top: 3.5rem;
    }
  }
}

@media (max-width: 1100px) {
  .aboutme {
    .container-aboutme {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      padding: 0;
      padding-top: 2rem;
      padding-bottom: 1rem;
      .title-aboutme {
        font-size: 2rem;
        .caseUpper {
          font-size: 3rem;
        }
      }
      .second-container-aboutme {
        align-items: center;
        flex-direction: column;
        width: 80%;
        .container-text {
          padding-top: 1rem;
          width: 100%;
          p {
            font-size: 0.9rem;
          }
        }
        .container-carrusel {
          padding-top: 2rem;
          width: 50%;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .aboutme {
    .container-aboutme {
      margin-top: 0rem;
      height: auto;
      padding: 1rem;
      padding-top: 2.5rem;
      margin-left: 2rem !important;

      &:hover {
        transform: none;
        transition: none;
      }

      .title-aboutme {
        font-size: 1.5rem;
        .caseUpper {
          font-size: 2.5rem;
        }
      }
      .second-container-aboutme {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        .container-text {
          padding-top: 1rem;
          p {
            font-size: 1rem;
          }
        }
        .container-carrusel {
          width: 50%;
          height: 50%;
          padding-top: 1rem;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .aboutme {
    padding-left: 5rem;
    .container-aboutme {
      height: auto;
      padding: 1rem;
      padding-top: 2rem;
      width: 90%;
      margin-left: 0 !important;
      .title-aboutme {
        font-size: 1.2rem;
        .caseUpper {
          font-size: 2rem;
        }
      }
      .second-container-aboutme {
        .container-text {
          padding-top: 0.5rem;
          p {
            font-size: 0.75rem;
          }
        }
        .container-carrusel {
          height: 15rem;
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .aboutme {
    .container-aboutme {
      height: auto;
      padding: 1rem;
      padding-top: 2rem;
      .title-aboutme {
        font-size: 1rem;
        .caseUpper {
          font-size: 1.8rem;
        }
      }
      .second-container-aboutme {
        // width: 100%;
        .container-text {
          p {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}

@media (max-width: 501px) {
  .aboutme {
    padding: 0;
    .container-aboutme {
      height: auto;
      padding: 1rem;
      padding-top: 2rem;
      overflow-y: auto;
      .title-aboutme {
        // display: none;

        .caseUpper {
          font-size: 3.2rem;
        }
      }
      .second-container-aboutme {
        width: 90%;
        
        .container-carrusel {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .aboutme {
    .container-aboutme {
      height: auto;
      padding: 1rem;
      padding-top: 1.5rem;
      margin-left: 1rem;
      // padding-top: 2rem;
      .title-aboutme {
        font-size: 0.8rem;
        .caseUpper {
          font-size: 1.5rem;
        }
      }
      .second-container-aboutme {
        // padding: 1rem;
        .container-text {
          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

@media (max-width: 300px) {
  .aboutme {
    min-width: 280px;
    .container-aboutme {
      height: auto;
      width: 290px;
      // padding: 2rem;
      margin-left: 2rem !important;
      background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      .title-aboutme {
        font-size: 0.6rem;
        .caseUpper {
          font-size: 1rem;
        }
      }
      .second-container-aboutme {
        // padding: 1rem;
        width: 100%;
        .container-text {
          p {
            font-size: 0.5rem;
          }
        }
      }
    }
  }
}

@media (max-height: 800px) {
  .aboutme {
    .container-aboutme {
      max-height: 90vh;
      // padding: 1rem;
      
      .second-container-aboutme {
        justify-content: center;
        width: 90%;

        .container-text {
          width: 90%;
        }
        .container-carrusel {
          display: none;
        }
      }
    }
  }
}

@media (min-height: 800px) {
  .aboutme {
    .container-aboutme {
      padding: 1.5rem;
      margin-left: 0;
    }
  }
}